<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Aggiungi un libro o una rivista alla Biblioteca!</p>
      <label>Nome</label>
      <input type="text" class="form-control" [(ngModel)]="newBookName">
      <label>Contenuto</label>
      <input type="text" class="form-control" [(ngModel)]="newBookContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddBook()">Aggiungi Libro</button>
      <button
        class="btn btn-primary"
        (click)="onAddMagazine()">Aggiungi Rivista</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of bookElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'book'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'magazine'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>